:root{
    --primary-text-color:#212121;
    --tittle-text-color: #757575;
    --text-color: #000000;
    --accent-color:#2196F3;
    --white-color:#F5F4FA;
    --background-color:#2F303A;
}
body{
    font-family: 'Roboto';
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-color) ;
}
.accent{
    color: var(--accent-color);
}
.nav-studia{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
}
.nav-portfolio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
}
.nav-kont{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color); 
}
.nav-studia:hover,
.nav-portfolio:hover,
.nav-kont:hover,
.nav-studia:active,
.nav-portfolio:active,
.nav-kont:active{
 color: var(--accent-color);
}
.email{
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.tel{
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.shapka{
    background:var(--background-color);
}
.shapka-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:  var(--white-color);
}
.shapka-btn{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    color: var(--white-color);
    cursor: pointer;
}
.partfolio-btn{
    background: var(--white-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.partfolio-btn:hover,
.partfolio-btn:focus{
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
} 
h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color); 
}
.address{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
footer{
    background: var(--background-color);
}