:root{
    --primary-text-color:#212121;
    --tittle-text-color: #757575;
    --text-color: #000000;
    --accent-color:#2196F3;
    --white-color:#F5F4FA;
    --background-color:#2F303A;
}
body{
    font-family: 'Roboto';
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--text-color) ;
}
.accent{
    color: var(--accent-color);
}
.nav-studia{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
}
.nav-portfolio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
}
.nav-kont{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color); 
}
    .nav-studia:hover,
    .nav-portfolio:hover,
    .nav-kont:hover,
    .nav-studia:active,
    .nav-portfolio:active,
    .nav-kont:active{
 color: var(--accent-color);
}
.email{
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.tel{
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.hero{
    background:var(--background-color);
}
.hero-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:  var(--white-color);
}
.hero-btn{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    color: var(--white-color);
    cursor: pointer;
}
.partf-btn{
    background: var(--white-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.partf-btn:hover,
.partf-btn:focus{
    background: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
} 
.future-title-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;

    color: var(--primary-text-color);
}
.future-low-text{
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color); 
}
.partf-img-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;

    color: var(--primary-text-color);
}
.partf-img-low-text{
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}
.team-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
    
    text-align: center;
    letter-spacing: 0.03em;
}
.team-low-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--tittle-text-color);

    text-align: center;
    letter-spacing: 0.03em;

    
}
.address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}
footer{
    background: var(--background-color);
}